@import "tailwindcss";

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    padding: 20px;
    text-align: center;
  }
  nav a {
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }
  footer {
    flex-direction: column;
    padding: 20px;
  }
}